.header {
  color: #fff;
  text-align: center;
}

.body {
  background-image: url('img/chess.jpg');
  background-repeat: no-repeat;
  background-size: 100%
}

.chessboards {
  float: right;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.wrapper {
  background-color: rgba(246, 248, 250, 0.6);
  height: 100%;
  border-radius: 10px;
  text-align: center;
}

.btn {
  background-color: #16a085;
  color: #fff;
}